[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
pandas = "*"
fbprophet = "*"
chart-studio = "*"
numpy = "*"
cs50 = "*"
flask = "*"
SQL = "*"
[requires]
python_version = "3.7"
